    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        max-width: 1440px;
        margin: auto;
        
    }

    nav {
        padding: 1rem;
        background-color: #979494;
    }

    .nav-con {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .logo img {
        display: flex;
        list-style: none;
        align-items: center;
    }

    .nav-con h1 {
        display: flex;
        list-style: none;
        align-items: center;
        font-family: Arial, sans-serif;
        font-size: xx-large;
    }


    .blog-item img {
        width: 100%;
    }

    .menu {
        display: flex;
        list-style: none;
        align-items: center;
        text-decoration: underline;
    }

    .menu li {
        margin: 0 1rem;
    }

    .menu a {
        text-decoration: none;
        color: black;
        font-size: large;
    }

    .menu-2 {
        display: flex;
        list-style: none;
        align-items: center;
    }

    .menu-2 a {
        text-decoration: none;
        background-color: #fff;
        padding: .5rem 1rem;
        border-radius: 5px;
        color: black;
        font-size: large;
    }

    .blog {
        margin: 2rem;
    }

    .blog-title h2 {
        margin: 2rem 0rem;
    }

    .blog-con {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
    }


    .blog-item a {
        display: inline-block;
        background-color: black;
        padding: .5rem 1rem;
        margin: 1rem 0;
        border-radius: 5px;
        text-decoration: none;
        color: #fff;
    }

    .blog-item image {
        width: 100%;
        margin: 2rem;
        padding: 2rem;
    }

    .blog-item h4 {
        margin: 1rem 0;
    }

    .blog-item p {
        margin: 1rem 0;
    }